.form {
  &__title {
    margin-bottom: 30px;
  }
}
.form-page {
  max-width: 992px;
  margin: 0 auto;
  &__description {
    font-size: 14px;
    line-height: 20px;
  }
  &__hero {
    margin-bottom: 30px;
  }
  &__wrapper {
    max-width: 800px;
  }
  &__section-wrapper {
    padding-top: 24px;
    padding-bottom: 10px;
    padding-left: 68px;
    padding-right: 68px;
    margin-bottom: 16px;
    border: 1px solid $border-color;
    border-radius: 5px;
  }
  &__title {
    margin-top: 0px;
    margin-bottom: 28px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
  }
  &__field {
    width: 100% !important;
  }
  &__section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    &--hero {
      margin-bottom: 30px;
    }
  }
  &__text-section {
    max-width: 676px;
  }
  &__block {
    width: 100%;
  }
  &__block-wrapper {
    display: flex;
  }
  &__submit {
    display: flex;
    justify-content: flex-end;
    &-btn {
      margin-left: 16px;
    }
  }
  &__select {
    width: 100% !important;
  }
  &__password-text {
    margin-left: 8px;
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;
  }
}