.form {
  &__title {
    margin-bottom: 30px;
  }
}
.form-page {
  max-width: 992px;
  margin: 0 auto;
  &__description {
    font-size: 15px;
    line-height: 24px;
  }
  &__hero {
    margin-bottom: 30px;
  }
  &__wrapper {
    max-width: 800px;
  }
  &__section-wrapper {
    padding-bottom: 10px;
    margin-bottom: 16px;
    border-radius: 5px;
    @media(min-width: 992px) {
      padding-top: 24px;
      padding-left: 68px;
      padding-right: 68px;
      border: 1px solid $border-color;
    }
  }
  &__title {
    margin-top: 0px;
    margin-bottom: 28px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
  }
  &__field {
    width: 100% !important;
  }
  &__section {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 30px;
    @media(min-width: 1100px) {
      grid-template-columns: 1fr 1fr;
    }
    &--hero {
      margin-bottom: 30px;
    }
  }
  &__text-section {
    max-width: 676px;
  }
  &__block {
    width: 100%;
  }
  &__block-wrapper {
    display: flex;
  }
  &__submit {
    width: 100%;
    display: flex;
    flex-direction: column;
    @media(min-width: 576px) {
      flex-direction: row;
      justify-content: space-between;
    }
    @media(min-width: 992px) {
      justify-content: flex-end;
    }
  }
  &__submit-btn {
    margin-left: 0px;
    margin-top: 24px;
    @media(min-width: 576px) {
      margin-left: 16px;
      margin-top: 0px;
    }
  }
  &__select {
    width: 100% !important;
  }
  &__password-text {
    margin-left: 8px;
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;
  }
}